<div class="main">
  <div class="side-bar">
    <%= render "posts/side_bar" %>
  </div>
  <div class="main-wrapper">

    <div class="user-form">

      <h2 class="form-title">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "form-content" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form-content" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>
        
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%#= render "users/shared/links" %>
