<% if user_signed_in? %>
  <% if post.likes.find_by(user_id: current_user.id).present? %>
    <%= link_to(post_like_path(post.id, post.likes.find_by(user_id: current_user.id, post_id: post.id).id), method: :delete, class: "likes", remote: true) do %>
      <span class="fa fa-heart unlike-btn"></span>
    <% end %>
    <%= "#{post.likes.count}" %>
  <% else %>
    <%= link_to(post_likes_path(post.id), method: :post, class: "likes", remote: true) do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
    <%= "#{post.likes.count}" %>
  <% end %>
<% else %>
  <span class="fa fa-heart unlike-btn"></span>
  <%= "#{post.likes.count}" %>
<% end %>