<div class="main">
  <div class="side-bar">
    <%= render "posts/side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="bread">
      <% breadcrumb :likes_user, @user %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="main-container">
      <div class="main-title">
        <% if user_signed_in? && @user.id == current_user.id %>
          いいねした投稿一覧
        <% else %>
          <%= "#{@user.nickname}さんのいいね一覧" %>
        <% end %>
      </div>
      <div class="post-wrap">
        <div class="count">
          <% if @likes.present? %>
            <%= "#{@post_all.count}件の記事をいいねしています。" %>
          <% end %>
        </div>
        <% if @likes.present? %>
          <% @likes.each do |like| %>
            <div class="post">
              <div class="title">
                <% post = Post.find_by(id: like.post_id) %>
                <%= link_to "#{post.title}", post_path(post.id), class: "link-to-show" %>
                <%= link_to "by #{post.user.nickname}", user_path(post.user.id), class: "link-to-user" %>
                <div class="created-at">
                  <%= post.created_at.to_s(:datetime_jp) %>
                </div>
              </div>
              <div class="genre">
              <div class="upper-content">
                <div class="category">
                  <%= post.category.name %>
                </div>
                <ul class="tag">
                  <li class="tag-list">
                    <%post.tags.each do |tag| %>
                      #<%=tag.name%>
                    <%end%>
                  </li>
                </ul>
              </div>
              <div id="likes_buttons_<%= post.id %>", class="like-count">
                <% if user_signed_in? %>
                  <% if post.likes.find_by(user_id: current_user.id).present? %>
                    <%= link_to(post_like_path(post.id, post.likes.find_by(user_id: current_user.id, post_id: post.id).id), method: :delete, class: "likes", remote: true) do %>
                      <span class="fa fa-heart unlike-btn"></span>
                    <% end %>
                    <%= "#{post.likes.count}" %>
                  <% else %>
                    <%= link_to(post_likes_path(post.id), method: :post, class: "likes", remote: true) do %>
                      <span class="fa fa-heart like-btn"></span>
                    <% end %>
                    <%= "#{post.likes.count}" %>
                  <% end %>
                <% else %>
                  <span class="fa fa-heart unlike-btn"></span>
                  <%= "#{post.likes.count}" %>
                <% end %>
              </div>
            </div>
            </div>
          <% end %>
        <% else %>
          <div class="nothing">いいねした投稿はありません。</div>
        <% end %>
        <%= link_to "トップページに戻る", root_path, class: "link_to_root" %>
      </div>
      <%= paginate @likes %>
    </div>
  </div>
</div>