<div class="main">
  <div class="side-bar">
    <%= render "posts/side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="bread">
      <% breadcrumb :user, @user %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="main-container">
      <div class="main-title">
        <% if user_signed_in? && @user.id == current_user.id %>
          マイページ
        <% else %>
          <%= "#{@user.nickname}さんの投稿" %>
        <% end %>
      </div>
      <div class="show-wrap">

        <div class="follow-contents">
          <div class="follow-content">
            <div class="follower">
                <%= link_to "フォロワー#{ @user.followers.count }人", followers_user_path(@user.id), id: "follower-count_#{ @user.id }", class: "follower-count" %>
            </div>
            <div class="follow">
                <%= link_to "フォロー#{@user.following.count}人", following_user_path(@user.id), id: "following-count_#{ @user.id }", class: "following-count" %>
            </div>
          </div>
          <div>
              <%= render "follow_form" %>
          </div>
        </div>

        <div class="count">
          <% if user_signed_in? && @user.id == current_user.id %>
            <%= "現在、あなたは#{@posts.count}件投稿しています。" %>
            <%= link_to(likes_user_path(@user.id), method: :get, class: "my-favorite") do %>
              <span class="fa fa-heart favorite-btn"></span><span class="favorite">いいねした投稿はこちら</span>
            <% end %>

          <% else %>
            <%= "#{@post_all.count}件の記事があります。" %>
          <% end %>
        </div>
        <% if @posts.present? %>
          <%= render partial: "posts/post", locals: { posts: @posts } %>
        <% else %>
          <div class="nothing">記事が存在しません。</div>
        <% end %>
        <%= link_to "トップページに戻る", root_path, class: "link_to_root" %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>