<% posts.each do |post| %>
  <div class="post">
    <div class="title">
      <%= link_to "#{post.title}", post_path(post.id), class: "link-to-show" %>
      <%= link_to "by #{post.user.nickname}", user_path(post.user.id), class: "link-to-user" %>
    </div>
    <div class="genre">
      <div class="upper-content">
        <div class="category">
          <%= post.category.name %>
        </div>

        <ul class="tag">
          <li class="tag-list">
            <%post.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
      </div>
      <div id="likes_buttons_<%= post.id %>", class="like-count">
        <%= render partial: 'likes/like', locals: { post: post} %>
      </div>
    </div>
  </div>
<% end %>