<div class="side-contents">
  <div class="side-title">- Category -</div>
      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [2] %>
        <div class="post-squeeze">
          <%= f.submit "SF/ファンタジー", class: "search-btn blue" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [3] %>
        <div class="post-squeeze">
          <%= f.submit "恋愛/ラブコメ", class: "search-btn pink" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [4] %>
        <div class="post-squeeze">
          <%= f.submit "日常/ほのぼの", class: "search-btn orange" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [5] %>
        <div class="post-squeeze">
          <%= f.submit "アクション/バトル", class: "search-btn red" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [6] %>
        <div class="post-squeeze">
          <%= f.submit "スポーツ/競技", class: "search-btn lightblue" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [7] %>
        <div class="post-squeeze">
          <%= f.submit "コメディ/ギャグ", class: "search-btn purple" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [8] %>
        <div class="post-squeeze">
          <%= f.submit "戦争/ミリタリー", class: "search-btn green" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [9] %>
        <div class="post-squeeze">
          <%= f.submit "ドラマ/青春", class: "search-btn lemon" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [10] %>
        <div class="post-squeeze">
          <%= f.submit "ショート", class: "search-btn short" %>
        </div>
      <% end %>

      <%= form_with(url: squeeze_posts_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.hidden_field :category_id, :value => [11] %>
        <div class="post-squeeze">
          <%= f.submit "その他", class: "search-btn other" %>
        </div>
      <% end %>

  <div class="ranking">
    <%= link_to 'いいね数ランキング TOP8', ranking_posts_path, class: "link-to-ranking" %>
  </div>
  
  <%= link_to("https://github.com/ukkiy-ray", class: "github") do %>
    <span class="fa fa-github git-btn"></span><span class="side-text">my github account.</span>
  <% end %>
</div>