<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="main-title">- 投稿一覧 -</div>
      
      <div class="post-wrap">
        <% if user_signed_in? %>
          <%= link_to "New Post", new_post_path, class:"post-btn"%>
        <% else %>
          <div class="note">記事を投稿するには<%= link_to "ログイン", new_user_session_path, class: "sign" %>するか、<%= link_to "会員登録", new_user_registration_path, class: "sign" %>をしてください。</div>
        <% end %>
        <% @posts.each do |post| %>
          <div class="post">
            <div class="title">
              <%= link_to "#{post.title}", post_path(post.id), class: "link-to-show" %>
            </div>
            <div class="genre">
              <div class="category">
                <%= post.category.name %>
              </div>

              <ul class="tag">
                <li class="tag-list">
                  <%post.tags.each do |tag| %>
                    #<%=tag.name%>
                  <%end%>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>