<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="post-title">New Post</div>
      <%= form_with model: @post, url: posts_path, class:'form-wrap', local: true do |f| %>

        <% if @post.errors.any? %>
          <ul class="errors">
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

        <div class='post-form'>
          <div class="post-field">
            <%= f.label :title,  "タイトル" %><br />
            <%= f.text_area :title, class:"title-input", rows: "1" %>
          </div>

          <div class="post-field">
            <%= f.label :content,  "投稿" %><br />
            <%= f.text_area :content, class:"post-input", placeholder:"1000文字まで入力できます。" ,rows:"10" ,maxlength:"1000" %>
          </div>

          <div class="category-tag">
            <div class="post-field">
            <%= f.label :category,  "ジャンル" %><br />
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"anime-category"}) %>
            </div>

            <div class="tag-container">
              <div class="tag-field", id='tag-field'>
                <%= f.label :name, "タグ" %><br />
                <%= f.text_field :name, class:"input-tag" %>
              </div>
              <div id="search-result">
              </div>
            </div>
          </div>
          
          <div class="submit-post">
            <%= f.submit "投稿する", class: "submit-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>