<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="bread">
      <% breadcrumb :post_search %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="main-container">
      <div class="main-title">- 検索結果一覧 -</div>
      
      <div class="post-wrap">
        <% if @posts.present? %>
          <div class="count"><%= "#{@post_all.count}件の記事が見つかりました。" %></div>
          <%= render partial: "post", locals: { posts: @posts } %>
        <% else %>
          <div class="nothing">該当する記事が見つかりませんでした。</div>
        <% end %>
        <%= link_to "トップページに戻る", root_path, class: "link_to_root" %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>