<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="bread">
      <% breadcrumb :post, @post %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="main-container">
      <div class="post-wrap">
        <div class="post-container">
          <div class="show-title">
            <%= @post.title %>
            <div class="post-user">
              <%= link_to "#{@post.user.nickname}", user_path(@post.user.id), class: "show-user" %>
            </div>
          </div>
          <div class="content">
            <%= @post.content %>
          </div>
          <div class="bottom-contents">
            <div class="link-wrap">
              <% unless user_signed_in? %>
                <%= link_to "いいねするにはログインしてください。", new_user_session_path, class: "to-session" %>
              <% end %>
              <%= link_to "トップページに戻る", root_path, class: "link_to_top" %>
              <% if user_signed_in? && @post.user_id == current_user.id %>
                <%#= link_to "編集する", "#", class: "link_to_edit" %>
                <%= link_to '削除する', post_path(@post.id), method: :delete, class:'post-destroy' %>
              <% end %>
            </div>
            <ul>
              <li>
                <div id="likes_buttons_<%= @post.id %>", class="like-count">
                  <%= render partial: 'likes/like', locals: { post: @post} %>
                </div>
              </li>
              <li><%= @post.category.name %></li>
              <li class="tag-list">
                <% @tags.each do |tag| %>
                  <%= "##{tag.name}" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>