<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="post-wrap">
        <div class="post-container">
          <div class="show-title">
            <%= @post.title %>
            <div class="post-user">
              <%= @post.user.nickname %>
            </div>
          </div>
          <div class="content">
            <%= @post.content %>
          </div>
          <div class="bottom-contents">
            <div class="link-wrap">
              <%= link_to "トップページに戻る", root_path, class: "link_to_top" %>
              <% if user_signed_in? && @post.user_id == current_user.id %>
                <%= link_to "編集する", "#", class: "link_to_edit" %>
                <%= link_to '削除', post_path(@post.id), method: :delete, class:'post-destroy' %>
              <% end %>
            </div>
            <ul>
              <li><%= @post.category.name %></li>
              <li class="tag-list">
                <% @tags.each do |tag| %>
                  <%= "##{tag.name}" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>