<div class="main">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main-wrapper">
    <div class="bread">
      <% breadcrumb :squeeze %>
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="main-container">
      <div class="main-title">- 検索結果一覧 -</div>
      
      <div class="post-wrap">
        <% if @posts.present? %>
          <div class="count">
            <%= "【#{@post.category.name}】に関連する記事が#{@post_all.count}件見つかりました。" %>
          </div>
          <%= render partial: "post", locals: { posts: @posts } %>
        <% else %>
          <div class="nothing">記事が存在しません。</div>
        <% end %>
        <%= link_to "トップページに戻る", root_path, class: "link_to_root" %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>