<!DOCTYPE html>
<html>
  <head>
    <title>AniReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Noto+Serif+JP:wght@600&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-contents">
        <div class="header-left">
          <%= link_to image_tag("/images/logo.png", class: 'logo'), root_path %>

          <%= form_with(url: post_search_posts_path, local: true, method: :get, class: "post-search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "フリーワードで検索", class: "search-input" %>
          <% end %>

        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <%= link_to "こんにちは、#{current_user.nickname}さん", user_path(current_user.id), class: "hello" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sign-out" %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "sign-in" %>
            <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
