<div class="main">
  <div class="side-bar"></div>
  <div class="main-wrapper">
    <div class="user-form">
      <h2 class="form-title">Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :nickname, class: "form-content" %><br />
          <%= f.text_field :nickname, class: "input" %>
        </div>

        <div class="field">
          <%= f.label :email, class: "form-content" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form-content" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "form-content" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%#= render "users/shared/links" %>
